.genresMoviesPageDetails {
    background: linear-gradient(#0048ff, #fa0000);
    padding: 20px 50px;
    box-sizing: border-box;
}
.main{
    width: 350px;
}
.child{
    width: 350px;
    text-align: left;
}
.photoDetails {
    display: flex;
    width: 100%;
    box-sizing: border-box;
    border: 5px solid black;
    border-radius: 10px;
    background-color: black;
}
.img{
    width: 350px;
}
.detailsMovies{
    color: white;
    padding: 0 20px;
}
.detailsMovies >h1{
    padding: 10px 0;
    text-align: center;
}
.detailsMovies{
    text-align: left;
}
.detailsMovies p{
    padding-bottom: 10px;
}
.overview{
    color: #c4c3c3;
}
.vote_average{
    position: absolute;
    background-color:black;
    border-radius: 50%;
    padding: 10px;
    margin-top: 475px;
    margin-left: 300px;
    color: white;
    font-size: 18px;
}